<div class="google-apps-login-links">
  <% AuthSourceGoogleApp.all.each do |domain| %>
  <div class="google-apps-login">
    <%= image_tag 'apps-16.png', :plugin => 'google_apps' %>
    <%= link_to l(:login_with_domain_link, domain: domain.name), google_apps_login_path(domain.id) %>
  </div>
  <% end %>
</div>
